#animate_sideways_div {
	background:#98bf21;
	height:100px;
	width:100px;position:absolute;
	color:black;
}

#animate_sideways_div p {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ukraine {
  --blue: #0057b7;
  --yellow: #ffd700;
  background: linear-gradient(
  var(--blue) 0%,
  var(--blue) 50%,
  var(--yellow) 50%,
  var(--yellow) 100%);
}

.nopad_fill {
  position: absolute;
  height: 100%;
  width: 100%;
  padding:0;
  margin:0;
}
